
body
{
    background: #f4f3f3;
    font-family: Helvetica, Arial, sans-serif;
    overflow-y: scroll;
    margin: 0;
}

hr { height: 3px; width: 99%; background-color: #aaf; border: 0; margin: 10px; }

h1, h2, h3, h4 { margin-top: 0; margin-bottom: 0; }
#help h2, #create h2 { margin-bottom: 15px; }
#subtitle { text-align: center; }
#subtitle { margin-top: 0; }

.container > div, #home > div
{
    margin: 5px 200px;
    padding: 10px;
    border: 0px solid blue;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    min-width: 1000px;
    background: #fff;
}

#home, .container{ background: transparent; }

#header {
    width: 100%;
    height: 65px;
    background: #232323 url(../img/header_bg.png) repeat;
    margin-bottom: 30px;
}

#header_inner { min-width: 1000px; margin: 0px 200px 5px 200px; text-align: right;  color: #ffffff; line-height: 65px; }
#header_inner h1 { margin: 0; padding: 0; float: left; width: 50%; text-align: left;}

#home { border: 0; padding: 0; margin: 0; }
#blurb p { margin-top: 2px; margin-bottom: 2px; }

.separate_children > div, div.top_labelled_form > div { margin-top: 15px; }
.separate_children > div:first-child, div.top_labelled_form > div:first-child { margin-top: 0; }

div.top_labelled_form label { display: block; }
div.top_labelled_form input, div.top_labelled_form select { display: block; margin-left: 10px; }
div.top_labelled_form span.input_extra { display: block; font-size: 0.8em; margin-left: 10px; }
div.top_labelled_form div.ui-datepicker-inline { margin-left: 10px; }

.invalid { background-color: red !important; }
.highlight { background-color: yellow; }
.small { font-size: 0.8em; }
.big { font-size: 1.5em; }
.keyvalue_json { background-color: #bdf; }

input[type=text], select, #wizard_fields
{
    border: 1px solid gray;
    font-size: 1.1em;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    padding: 1px 2px;
}

input[type=text].invalid, select.invalid { border-color: orange; }

input[type=text] { width: 200px; }
input[type=text].short_input { width: 100px; }
input[type=text].long_input { width: 500px; }

#create > div > h3 { display: inline-block; width: 330px; }
#create > div > .buttons { display: inline-block }

.telemetry_string
{
    font-family: monospace;
    font-size: 0.8em;
    display: inline-block;
    overflow: hidden;
    max-width: 600px;
}

#wizard_text_box, #wizard_fields
{
    width: 70%;
    display: block;
    font-family: monospace;
    font-size: 1.2em;
    margin: 0;
}

#wizard_fields { padding-left: 3px; }
#wizard_callsign, #wizard_checksum_type { font-family: monospace; }

#wizard_buttons { margin-top: 15px; }
#wizard_parse_info { margin-left: 10px; }

#wizard_error { color: red; margin-left: 10px; }

#wizard_numeric_scale_section, #wizard_numeric_scale_opts { margin-top: 15px; }
#wizard_numeric_scale_example_container { margin-top: 5px; }

#wizard_lockfield > label { display: block; }
#wizard_lockfield_ok, #wizard_lockfield > .buttons { display: inline-block; margin-left: 10px; }
#wizard_lockfield_ok input { vertical-align: middle; }

.sentence_list { margin-left: 10px; }
.sentence_icon, .menu_icon
{
    display: inline-block !important;
    position: relative;
    top: 5px;
    vertical-align: top;
}
.sentence_list > div { margin: 2px 0; }
.sentence_list input, .sentence_list select { margin: 0 2px; }
.sentence_list .keyvalue { display: inline-block; }

.hidden_menu { display: inline-block; vertical-align: top; }
.hidden_menu > div { position: absolute; display: none; z-index: 1; }
.hidden_menu:hover > div { display: block; }
.hidden_menu > div > ul { position: relative; top: -9px; left: 5px; }

#browse_status { margin-left: 50px; }
#browse_list_table { width: 80%; margin: 25px; border-spacing: 0; }
#browse_list > tr > td
{
    border-top: 2px solid #aaf;
    margin: 0;
    padding: 10px;
    cursor: pointer;
}
#browse_list > tr { margin: 0; }
#browse_list > tr:first-child > td { border-top: 0; }
#browse_list > tr:hover > td { background-color: #afa; }

.browse_item_doc_name, .browse_item_callsign { font-size: 1.5em; }
.browse_item_id, .browse_item_date { font-size: 0.8em; }

#launch_window_start, #launch_window_end { display: inline-block; }

#flight_pcfgs_list td { padding: 2px 15px; }
