/**********************************************************
 * Layout
 *********************************************************/
body {
    margin: 0;
    padding: 0;
}
#top-bar {
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 1000;
    position: absolute;
}
header {
    margin: 15px;
    padding: 10px;
    z-index: 1001;
    position: relative;
}
section {
    margin: 20px 5px;
    padding: 20px;
}
#scroller {
    width: 600px;
    position: absolute;
    left: 50%;
    top: 200px;
    margin-left: -300px;
}
.blocker {
    position: absolute;
    width: 550px;
    height: 85%;
    background-color: #fff;
}
#fields {
    float: right;
    width: 200px;
    padding: 10px;
}
.field, .sentence-field {
    padding: 2px;
    margin-bottom: 3px;
}
#sentence {
    float: left;
    width: 250px;
    padding: 10px;
    min-height: 100px;
}
.clear {
    clear: both;
}

/**********************************************************
 * Appearance
 *********************************************************/
html {
    overflow: hidden;
}
header {
    border-radius: 3px;
}
section {
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
}
input {
    border-style: solid;
    border-width: 0 0 1px 0;
    font-size: 1.2em;
    outline: none;
}
#generate {
    border-width: 0;
    padding: 5px;
    outline-style: outset;
    outline-width: 2px;
}
a {
    text-decoration: underline;
}
#scroller {
    border-radius: 3px;
}
#fields {
    border-radius: 3px;
}
.field, .sentence-field {
    border-style: solid;
}
#sentence {
    border-radius: 3px;
    border-style: solid;
}
#dataformat {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
}

/**********************************************************
 * Colours
 *********************************************************/
body {
    background-color: #777;
}
#top-bar {
    background-color: #777;
}
header {
    background-color: #aaa;
}
input {
    background-color: #bbb;
}
#generate {
    outline-color: #ccc;
}
#generate:active {
    background-color: #ccc;
}
a {
    color: #000;
}
#scroller {
    background-color: #888;
}
section {
    background-color: #bbb;
    border-color: #555;
}
::selection {
    background: #fff;
    color: #000;
}
#fields {
    background-color: #ccc;
}
.field, .sentence-field {
    border-color: #555;
    input {
        background-color: #ccc;
    }
}
#sentence {
    background-color: #ccc;
    border-color: #555;
}

/**********************************************************
 * Typography
 *********************************************************/
html {
    font-family: 'Special Elite', arial, serif;
}
input {
    font-family: 'Special Elite', arial, serif;
}
.ui-widget {
    font-family: 'Special Elite', arial, serif;
    input {
        font-family: 'Special Elite', arial, serif;
    }
    button {
        font-family: 'Special Elite', arial, serif;
    }
}

/**********************************************************
 * Bug fixes
 *********************************************************/
#ui-datepicker-div {
    z-index: 800 !important;
}
